body, html {
    margin: 0;
    padding: 0;
}

/* Inicio cuerpo principal */

.body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(241, 240, 240); */
    background-color: white;
}

.nav {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.opciones {
    text-align: center;
    background-color: rgb(0, 39, 82);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.titulo-principal {
    background-color: rgb(0, 39, 82);
    font-size: 24px;
    color: white;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

.nav-link {
    font-size: 14px;
    text-decoration: none;
    width: 6rem;
    color: rgb(0, 57, 117);
    padding: 8px 4px;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    transition: scale() .5s ease-in-out .1s;
}

.nav-link:hover {
    background-color: rgb(241, 240, 240);
    transform: scale(1.05);
}

/* Estilos del layout de dashboard */

.filas-principales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.columna-full {
    width: 100%;
}

.columna-mitad {
    width: 49%;
}

.columna-alta {
    width: 49%;
    height: 800px;
}

.columna-stacked {
    width: 100%;
    margin-bottom: 20px;
}

.grafico-1 {
    padding-top: 110px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    
}

.grafico-1-hijo {
    width: 95%;
}

.grafico-2 {
    margin-left: 10px;
}


.tablas {
    font-family: 'Roboto', sans-serif;
}